@using VirtualRoom.Models
@model RoomModel
<div class="title">
    <h2>
        @Model.Name
    </h2>
</div>
<div class="header">
    <button type="button" class="btn btn-lg" ng-click="removeRoom('@Model.RoomID')">Remove room</button>
    <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">Change room information</button>
</div>
<div class="container" id="circleContainer" ng-init="getUsers('@Model.RoomID')">
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change room information</h4>
            </div>
            <div class="modal-body">
                <label>Room name:</label><input type="text" class="input-box" name="name" value="@Model.Name" ng-model="change.name"/><br />
                <label>Room description:</label><input type="text" class="input-box" name="description" value="@Model.Description" ng-model="change.desc"/><br />
                <label>Room capacity:</label><input type="number" class="input-box" name="capacity" value="@Model.Capacity" ng-model="change.cap"/><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-left" ng-click="changeRoomInfo('@Model.RoomID', change.name, change.desc, change.cap)">Accept</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

